.row
 .large-4.columns.large-centered
  %div.panel.login
   %h1 Video Admin Login
   = form_tag("/admin/login", :method => "post", :id => "login") do
    %div
     = label_tag(:login, "Login:")
     = text_field_tag(:login)
    %div
     = label_tag(:password, "Password:")
     = text_field_tag(:password)
    %div
     = submit_tag("Login", :class => "button tiny")

