.panel.topics
 %h1 Edit Video Topics
 .row
  .large-7.columns
   %h4 Topics:
   %ul.ham-topic
    - @list.each do |topic|
     %li.topic{:class => "ham-parent",:"data-topic" =>"#{topic[:id]}",:"data-parent" => "#{topic[:parent]}"}
      = topic[:text]
      - unless topic[:children].nil?
       - topic[:children].each do |child|
        %li.topic{:class => "ham-child",:"data-topic" =>"#{child[:id]}",:"data-parent" => "#{child[:parent]}"}
         =child[:text]
  .large-5.columns
   %h4 Editor:
   .ham-topic-edit
    %form#topics(action="/videos/admin/topic/add" method="post")
     %fieldset
      %label(for="topic") Topic:
      %input(type="text" id="topic" name="topic[topic]")
      %label(for="topic_parent") Parent:
      %select(id="topic_parent" name="topic[parent]")
       %option(value="0") Top level topic
       - @list.each do |topic|
        %option(value="#{topic[:id]}")= topic[:text]
        - unless topic[:children].nil?
         - topic[:children].each do |child|
          %option(value="#{child[:id]}")
           &nbsp;&nbsp;&nbsp;
           = child[:text]
     %fieldset
      %input(type="reset" value="Clear" class="button tiny")
      %input(type="submit" value="Add Topic" class="button tiny")
      %a#delete.button.tiny.ham-hidden Delete

%script
 $("input[type='reset']").click(function(){
 $("input[type='submit']").val('Add Topic');
 $('form').attr('action','/videos/admin/topic/add');
 $('a#delete').addClass('ham-hidden');
 });
 $('li.topic').click(function(){
 var id = $(this).data('topic');
 var parent = $(this).data('parent');
 var topic = $(this).text().trim();
 $('#topic').val(topic);
 $('#topic_parent').val(parent);
 $("input[type='submit']").val('Save Changes');
 $('form').attr('action','/videos/admin/topic/update/'+id);
 $('a#delete').removeClass('ham-hidden');
 $('a#delete').attr('href','/videos/admin/topic/delete/'+id);
 });

