%html
 %head
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  = content_for :head
 %body
  .row
   .large-12.medium-12.small-12.columns
    .row
     .large-12.medium-12.small-12.columns
      .ham-header
       .large-6.medium-6.small-6.columns
        %h1
         Gallery
         .tagline A Simple Video Gallery
       .large-6.medium-6.small-6.columns
        %nav(class="top-bar" data-topbar)
         %ul(class="title-area")
          %li.name(class="#{@active == 'home' ? 'active' : ''}")
           %h1
            %a(href="/") Home
          %li(class="toggle-topbar menu-icon")
           %a(href="#")
           %span Menu
         %section.top-bar-section
          %ul.left
           %li(class="#{@active == 'videos' ? 'active' : ''}")
            %a(href="/videos") Videos
           %li(class="#{@active == 'licensing' ? 'active' : ''}")
            %a(href="/videos/admin") Admin
    .scroll-container(role="main")
     .row
      .large-2.medium-4.columns
       .hide-for-small
        - if defined? @menu
         .sidebar.sbleft
          - if defined? @menu[:title]
           - unless @menu[:title].nil?
            .h4=@menu[:title]
          %ul.side-nav
           - @menu[:sections].each do |sec|
            %li.divider=sec[:heading]
            - sec[:items].each do |item|
             %li.parent(class="#{item[:active] ? 'active' : ''}")
              %a(href="#{item[:active] ? "#" : item[:link]}")=item[:text]
              - item[:children].each do |child|
               %li.child(class="#{child[:active] ? 'active' : ''}")
                %a(href="#{child[:active] ? "#" : child[:link]}")=child[:text]
      .large-8.medium-4.columns
       = yield
      .large-2.medium-4.columns
       .hide-for-small
        - if defined? @rightSidebar
         - unless @rightSidebar.nil?
          .sidebar.sbright
           .h5 Sidebar content
           = @rightSidebar
  %script
   $(document).foundation();
  = content_for :foot
